.text-danger{
    color: #d31e25 !important;
}

.btn-danger {
    color: #ffffff;
    background-color: #d31e25 !important;
    border-color: #d31e25 !important;
}
.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus, .show > .btn.dropdown-toggle:focus {
    box-shadow: none !important;
}

span.required{
    color: #d31e25;
    font-weight: bold;
}
a:focus,
a:hover,
a:active,
a{
    box-shadow: none !important;
    outline: none !important;
}




.header .header-container .nav-left .notifications .counter, .header .header-container .nav-right .notifications .counter {
    right: 3px;
    top: 8px;
    background-color: #d31e25;
    color: #ffffff;
    padding: 5px 4px;
}

.nav-item.active a .title {
    font-weight: 700;
    /* color: #333333; */
    color: #d31e25;
    transition: 0.3s all ease-in-out;
}

.nav-item.active a:hover .title {
    font-weight: 700;
    color: #333333;
    transition: 0.3s all ease-in-out;
}
.nav-item.active a .icon-holder {
    font-weight: 700;
    color: #d31e25;
}
.side-nav .side-nav-inner .side-nav-menu li a:hover .icon-holder,
.side-nav .side-nav-inner .side-nav-menu li a:focus .icon-holder,
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open > a .icon-holder,
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open > a {
    color: #d31e25;
}


.form-control:focus {
    border-color: #999999;
}
.content-footer .footer .go-right {
    float: right;
    padding-bottom: 20px;
}

.side-nav .side-nav-inner .side-nav-menu > li.dropdown ul.dropdown-menu > li.active a {
    color: #333333;
    font-weight: 500;
}
